/* @charset "UTF-8";
/* CSS Document */

.container
{
	width:100vw;
}
Header
{
	background-color: #666;
	 height: 100vh;
	 width:100vw;
	 text-align: center;
	 font-size: 35px;
	 /* background-size:cover; */
}



.bio
{
	background-color: #667;
	 height: 100vh;
	 width:100vw;
	 text-align: center;
	 color: white;

}

.bio p
{}


.skills
{

height: 100vh;
width:100vw;
background-color: #670;
paddin-top:10vw;
padding-bottom:10vw;

}

.skills p
{
		background-color: #666;
	
		text-align: center;
}

.portfolio
{
	background-color: #664;

}

.contact
{
	background-color: #663;
	height:fit-content;

}

section
{
	border-bottom:solid black 4px;
	border-top:solid black 0px;
}

header .banner {
    background-color:#grey;	
}

/* css will be converted over to sass after speaking with trevor */
/* from now on, each section will be worked on till completion then uploaded up to github before starting next section */





/* ------------------------------ MEDIA QUERIE ------------------------------- */


@media screen and (max-width:640px)
{
	/* .skills float down */
	
}

@media screen and(max-width:992px)
{
	/* .skills float:right medium screen */
	width:100%;


}

@media screen and (max-width:;)
{

}

/* media querie: in process, will get back to after work sunday */
/* skills foundation alone doesn't allow for width to properly register for each screen size */
